<div class="col-md-4">
    <instructions-recap></instructions-recap>
</div>
<div class="col-md-4">
    <h3>Part 3</h3>
    <p>A common practice in web development is something called "AJAX." AJAX is basically just a common way to download stuff from
        the internet.</p>
    <p>Oftentimes we've written something incorrectly when we're trying to download some kind of resource from the internet in our
        application - maybe our CSS doesn't seem to be downloading, or some data we thought we downloaded from an API isn't showing up in
        our application.</p>
    <p>Anytime you're trying to download or upload something from/to the internet (over the <span class="text-success">NETWORK</span>), it
        gets logged. If there is an error of some kind, it shows up in <span class="text-danger">RED</span>. You can even <span
                class="text-success">preview</span> the error response that the server sent back, which prove very beneficial</p>
    <p>We've forced an AJAX call to be made and told the server to fail it. If you find a way to preview the response from the server,
        you'll find the password to the next section.</p>
    <form class="password">
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Password"
                   ng-model="pass3"
                   autofocus>
        </div>

        <button class="btn btn-lg btn-success btn-block"
                ng-class="{disabled: pass3.length===0}"
                ng-click="testPassword(pass3, '3')">Next
        </button>

    </form>
</div>