<div class="col-md-4">
    <instructions-recap></instructions-recap>
</div>
<div class="col-md-4">
    <h3>Part 1</h3>
    <p>In web development, JavaScript plays a huge part in making websites and web applications with useful, beautiful user
        interactions.</p>
    <p>When we write something incorrectly in the JavaScript, it has a tendency to break lots of things on our page.</p>
    <p>Fortunately, there's a handy tool available to developers to allow them to inspect code and even make some temporary changes
        right in
        the browser!</p>
    <p>We've manually triggered a JavaScript error. You need to find out how to view that error, because it contains the password that
        you
        need to move forward.</p>
    <form class="password">
        <div class="form-group">
            <input type="text"
                   class="form-control"
                   placeholder="Password"
                   ng-model="pass1">
        </div>

        <button type="submit"
                class="btn btn-lg btn-success btn-block"
                ng-class="{disabled: pass1.length===0}"
                ng-click="testPassword(pass1, '1')">Next
        </button>

    </form>
</div>